@charset "utf-8";
*{
   margin: 0;
   padding: 0;
   font-family: sans-serif; 
}
#hero{
    width: 100%;
    height: 100vh;
    background-image:  url(1398325.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    
}
#navber1{
    position: fixed;
    z-index: 1;
    width:100%;
}




.navbar {
     background-color: rgba(61, 61, 61, 0.596);
     
     }
.navbar .navbar-nav .nav-link {
     color: #fff; 
     
    }
.navbar .navbar-nav .nav-link:hover { 
    color: #fbc531; 
}
.navbar .navbar-nav .active > .nav-link {
     color: #fbc531; 
    }

footer a.text-light:hover {
     color: #fed136!important; text-decoration: none;
     }
footer .cizgi {
     border-right: 1px solid #535e67; 
    }
@media (max-width: 992px) { 
    footer .cizgi { border-right: none; } 
}


.container2{
    width: 10%;
    height: 40vh;
    background: rgba(236, 236, 236, 0.226);
    backdrop-filter:blur(10px);
    position: relative;
    left: 0;
    top: 61px;
    float: left;
    border-radius: 30PX;
}
#you_body
{
    width: 90%;
    height: 83vh; 
    background: rgba(70, 66, 66, 0.267);
    backdrop-filter:blur(10px);
    position: relative;
    left: 50px;
    top: 120px;
    float: left;
    overflow-y: scroll;
}

#search
{
    width: 85.5%;
    height: 8vh;
    background: rgba(24, 21, 21, 0.596);
    backdrop-filter:blur(10px); 
    top: 61px;
    left: 201px;
    position:fixed;
    z-index: 1;
}
#ser
{
    width: 40%;
    height: 4vh;
    margin-left: 30%;
    margin-top: 1%;
    background: transparent;
    outline: none;
    border:2.5px solid rgb(59, 50, 50);
    color:#fff;
    font-size: 12px;
    padding: 10px;
}
::placeholder{
    color: #ccc;
}
.container2 button
{
    width: 100%;
    height: 40px;
    background: transparent;
    border: 0px solid  rgba(236, 236, 236, 0.226);
    color:#fff;
    outline: none;
    font-size: 20px;
}
.container2 button:hover{
    background-color: rgba(49, 49, 49, 0.671);
}
